*{
    margin:0;
    padding: 0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    
}

/* Header styles */
.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px 0 0px; 
    height: 50px;
}

/* Logo Styles */
.logo{
    
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
    padding-left: 200px;
}

/* Navigation Links */
.nav-links {
    color: #F9FAF8;
    display: flex;
    margin-left: auto;
    padding-right: 200px;
}
.nav-links a {
    padding-left: 24px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    text-decoration: none;
}

/* hero style */
.hero {
    padding: 100px 200px 140px 200px;
    margin: 0;
    background: #1F2937;
    display: flex;
    flex:1;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;

    
}
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    padding-bottom: 15px;
    
    
    
}
.hero button {
    background-color: #3882F6;
    border: 0;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto';
	font-size:17px;
	padding:6px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.hero_text {
    width: 50%;
}

/* info styling */
.info_heading {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #1F2937;
}
.one {
    border-radius: 20px;
  border: 4px solid #3882F6;
  padding: 20px;
  width: 125px;
  height: 125px;
}
.two {
    border-radius: 20px;
  border: 4px solid #3882F6;
  padding: 20px;
  width: 125px;
  height: 125px;
}
.three {
    border-radius: 20px;
  border: 4px solid #3882F6;
  padding: 20px;
  width: 125px;
  height: 125px;
}
.four {
    border-radius: 20px;
  border: 4px solid #3882F6;
  padding: 20px;
  width: 125px;
  height: 125px;
}
.foursome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
}

/*foursome text style */
.foursome_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 5px;
    padding-bottom: 60px;
    
}
.one_text{
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    width: 168px;
    height: 125px;
    font-size: 18px;
    color: #4C5563;
}
.two_text{
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    width: 168px;
    height: 125px;
    font-size: 18px;
    color: #4C5563;
}
.three_text{
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    width: 168px;
    height: 125px;
    font-size: 18px;
    color: #4C5563;
}
.four_text{
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    width: 168px;
    height: 125px;
    font-size: 18px;
    color: #4C5563;
  
}

/* quote styling */
.quote{
    background-color: #E5E7Eb;
    
}
.quote_text{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 140px 300px 0 300px;
    max-width: 1400px;
}
.author{
    padding-left: 300px;
    padding-right: 380px;
    padding-bottom: 100px;
    text-align: right;
}

.calltoaction_bubble{
    background-color:#3882F6;
    border-radius: 8px;
    margin: 100px 200px 100px 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.calltext{
    color: #F9FAF8;
    padding-left: 100px;
}
.calltext p {
    font-weight: 100;
    font-size: 18px;
}
.callbutton{
    background-color: #3882F6;
    border:white;
    border-style: solid;
    border-width: 2px:
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto';
	font-size:17px;
	padding:6px 35px;
	text-decoration:none;
    height:40px;
    font-weight: 700;
    margin-right: 200px;
}

/* footer Styling*/
.footer{
    color:#F9FAF8;
    font-size: 18px;
    background-color: #1F2937;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}