body{
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    background: #1F2937;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.logo{
    
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', arial;
    font-weight: bolder;
}
.links {
    color: #F9FAF8;
    display: flex;
}